#back{
    background:url(scene.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    width:auto;
    height:450px;
}
#road{
    background:url(road.jpg);
}
#img{
    width:150px;
}
#btn{
    background-color: cyan;
    width:100px;
    font-size:30px;
}
#dbtn{
    display:flex;
    justify-content:center;
    align-items:center;
}
#js_timer{
	text-align:border;
}
#timer{

	background-color:#fff;
	display:upperline-top;
	font-size:50px;
	width:200px;
}